/*

!/.gitignore
!/Makefile
!/scan.l
!/parse.y
!/top.h
!/requires.h
!/options.h
!/provides.h
!/pp.h
!/main.c
!/test.c
!/test.h
!/print.c
!/print.h
!/array.h
!/array.c
!/sql.h
!/sql.c
!/html.h
!/html.c
!/remark.cc
!/remark.h
!/util.h
!/util.c
!/murmur3.h
!/murmur3.c
!/reader.js
!/samples
!/spec
!/.shellspec
