/*

!/.gitignore
!/Makefile
!/scan.l
!/parse.y
!/main.c
!/test.c
!/test.h
!/print.c
!/print.h
!/array.h
!/array.c
!/sql.h
!/sql.c
!/html.h
!/html.c
!/remark.cc
!/remark.h
!/util.h
!/util.c
!/samples
!/spec
!/.shellspec
