/*

!/.gitignore
!/Makefile
!/scan.l
!/parse.y
!/parse-top.h
!/parse-requires.h
!/parse-provides.h
!/parse-impl.c
!/parse-error.c
!/options.h
!/pp.h
!/main.c
!/test.c
!/test.h
!/print.c
!/print.h
!/array.h
!/array.c
!/string.h
!/string.c
!/string_set.h
!/string_set.c
!/build.h
!/build.c
!/store.h
!/store.c
!/html.h
!/html.c
!/remark.cc
!/remark.h
!/util.h
!/util.c
!/murmur3.h
!/murmur3.c
!/reader.js
!/samples
!/spec
!/.shellspec
